body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    color: #333; /* Adds default text color for better readability */
}

img {
    max-height: 300px;
    width: auto;
}